@import "../colors/colors";

/** Замена основного шрифта */
html, body, p, div, h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif !important;
}

/** Общий стиль для кнопок призыва к действию начало */
.call-to-action {
    text-transform: uppercase !important;
}

// Стиль отступа для блока призыва к действию
.call-to-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

/** Стиль для кастомного разделителя */
.socode-divider {
    color: @soc_divider_text_color !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-size: 10px !important;
    font-weight: 700;

    &::before, &::after{
        content: "";
        width: 15%;
        display: inline-block;
        height: 1px;
        margin: 10px;
        vertical-align: middle;
        border-top: 1px solid @soc_divider_border_color !important;
    }
}

/** Стиль для левой и правой частей контента сайта */
.left-content-side {
    //width: 100%;
}

.right-content-side {
    height: 100% !important;
    min-height: 1080px !important;
    position: fixed !important;
    background: #111;
    right: 0;
}

/** Стиль основного блока главной страницы с ФИО и аватаркой */
.main-header {
    margin-top: 100px;
    .name-header {
        margin-bottom: 80px !important;
    }
    .header {
        font-size: 60px !important;
        font-weight: bold;
    }
}

/** Стиль блока Обо мне */
.about-text {
    font-size: 1.125em;
    p {
        text-align: justify !important;
    }
}

/** Стиль карусели "Клиенты" */
.work-with-container {
    overflow: hidden;
    position: relative;

    .work-with-ul {
        width: 100%;
        height: 200px;
        list-style: none;
        position: relative;

        a {
            li {
                width: 305px;
                height: 260px;
                margin: 0 -20px;
                position: absolute;
                -webkit-filter: grayscale(100%);
                -webkit-transition: all 0.15s ease;
                -moz-transition: all 0.15s ease;
                -ms-transition: all 0.15s ease;
                -o-transition: all 0.15s ease;
                transition: all 0.15s ease;

                &:hover {
                    -webkit-filter: grayscale(0%);

                    -webkit-transition: all 0.15s ease;
                    -moz-transition: all 0.15s ease;
                    -ms-transition: all 0.15s ease;
                    -o-transition: all 0.15s ease;
                    transition: all 0.15s ease;

                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            .tm {
                background: url(../../../img/logos/tm.png) no-repeat center;
            }

            .ac {
                background: url(../../../img/logos/ac.png) no-repeat center;
                left: 314px;
            }

            .xc {
                background: url(../../../img/logos/xc.png) no-repeat center;
                left: 628px;
            }

            .ig {
                background: url(../../../img/logos/ig.png) no-repeat center;
                left: 942px;
            }

            .mif {
                background: url(../../../img/logos/mif.png) no-repeat center;
                left: 1256px;
            }

            .noo {
                background: url(../../../img/logos/noo.png) no-repeat center;
                left: 1570px;
            }
        }


    }
}


/** Стиль боковой картинки */
/** В JS есть скрипт задающий картинку случайным образом. */
.side-image-block {
    //background: url(../../../img/side_img_3.jpg) center right / cover;
    min-height: 900px;
    height: 100%;
}

/** Стиль для анимации скролла мышки внизу страницы */
.scroll-downs {
    width :34px;
    height: 50px;
    margin: 60px auto;
}
.mousey {
    width: 3px;
    padding: 10px 17px 10px 15px;
    height: 50px;
    border: 2px solid #111;
    border-radius: 25px;
    opacity: 0.55;
}
.scroller {
    width: 2px;
    height: 8px;
    border-radius: 25%;
    background-color: #111;

    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}