@media only screen and (max-width: 990px) {

    // Скрываем основное меню, потому что по другому никак
    // Добавляем позицию fixed для мобильного меню.
    .main-top-menu {
        .item.active-navigation {
            display: none !important;
        }
        position: fixed;
        width: 100% !important;
    }

    // Выключаем частицы и боковую картинку
    .side-image-block {
        width: 0 !important;
        display: none !important;
    }

    // Настраиваем заголовки
    .main-header {
        h1.ui.header {
            font-size: 4em !important;
        }
        h2.ui.header {
            font-size: 2.2em !important;
        }
    }

    // Вырубаем анимацию мышки
    .scroll-downs {
        display: none;
    }
}